{% extends "base.html" %}

{% block content %}

    <h1>User Information Page</h1>

    <div class="userbar">
      <a href="/profile.php?user=2182">{{ user.username }} (2)</a>: <span id=
      "userbar_pms" style="display:none"><a href="/inbox.php">Private Messages (<span id=
      "userbar_pms_count">0</span>)</a> |</span> <a href=
      "//wiki.endoftheinter.net/index.php/Help:Rules">Help</a>
    </div>

    <table class="grid">
      <tr>
        <th colspan="2">Current Information for {{ user.get_profile }}</th>
      </tr>

      <tr>
        <td>User Name</td>

        <td>{{ user.get_profile }}(2)</td>
      </tr>

      <tr>
        <td>User ID</td>

        <td>{{ user.get_profile.id }}</td>
      </tr>

      <tr>
        <td>Total Tokens </td>

        <td>{{ user.get_profile.contrib_tokens }}</td>
      </tr>

      <tr>
        <td>Good Tokens</td>

        <td>{{ user.get_profile.good_tokens }}</td>
      </tr>

      <tr>
        <td>Bad Tokens</td>

        <td>{{ user.get_profile.bad_tokens }}</td>
      </tr>

      <tr>
        <td>Contribution
        Karma</td>

        <td>{{ user.get_profile.contrib_tokens }}</td>
      </tr>

      <tr>
        <td>Account Created</td>

        <td>{{ user.date_joined }}</td>
      </tr>

      <tr>
        <td>Last Active</td>

        <td>{{ user.last_login }}</td>
      </tr>

      <tr>
        <td>Signature</td>

        <td></td>
      </tr>

      <tr>
        <td>Quote</td>
			
        <td>{{ user.get_profile.quote }}</td>
      </tr>

      <tr>
        <td>Email Address</td>
			
        <td>{{ user.email }}</td>
      </tr>

      <tr>
        <td>Instant Messaging</td>
			
        <td></td>
      </tr>

      <tr>
        <td>Picture</td>

        <td><a target="_blank" imgsrc=
        "/templates/default/images/LUEshi.jpg"
        href=
        "/templates/default/images/LUEshi.jpg">
        <span class="img-placeholder" style="width:395px;height:400px" id=
        "u0_1"></span><script type="text/javascript">
//<![CDATA[
        onDOMContentLoaded(function(){new ImageLoader($("u0_1"), "\/templates\/default\/images\/LUEshi.jpg", 395, 400)})
        //]]>
        </script></a></td>
      </tr>
      <tr>
        <th colspan="2">More Options</th>
      </tr>
<!--
      <tr>
        <td colspan="2"><a href="editprofile.php">Edit My Profile</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="editdisplay.php">Edit My Site Display Options</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="editpass.php">Edit My Password</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="history.php">View My Posted Messages</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="links.php?mode=user&amp;userid=2182">View Links I've
        Added</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="links.php?mode=comments">View My LUElink Comment
        History</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="mytokens.php?user=18026">View My Available
        Tokens</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="loser.php?userid=18026">View My Stats</a></td>
      </tr>
-->
      
      <tr>
        <td colspan="2"><a href="editpass.php">Edit My Password</a></td>
      </tr>
      
      <tr>
        <td colspan="2"><a href="history.php">View My Posted Messages</a></td>
      </tr>
      
      <tr>
        <td colspan="2"><a href="shop.php">Enter The Token Shop</a></td>
      </tr>
      
      <tr>
        <td colspan="2"><a href="inventory.php">View My Inventory</a></td>
      </tr>
      <tr>
		<td colspan="2"><a href="invite.php">Invite a User</a></td>
      </tr>
<!--
      <tr>
        <td colspan="2"><a href="showfavorites.php">View My Tagged Topics</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="inbox.php">Check My Private Messages</a></td>
      </tr>

      <tr>
        <td colspan="2">View My Wiki Pages: <a href=
        "//wiki.endoftheinter.net/index.php/Adrek">Community Page</a> | <a href=
        "//wiki.endoftheinter.net/index.php/User:Adrek">User Page</a></td>
      </tr>

      <tr>
        <td colspan="2"><a href="imagemap.php">View My Image Map Entry</a></td>
      </tr>-->
        <tr>
        <td colspan="2"><a href="loser.php?user=2182">View My Stats</a></td>
    </tr>
    </table><br />
    <br />
{% endblock %}
