<html>
    <form name="f" action="{% url 'login' %}" method="post">{% csrf_token %}
        <span>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <input type="submit" value="Login"/>
          <!-- <input type="hidden" name="next" value="/" /> -->
        </span>
    </form>
    <div>
        <a href="{% url 'register' %}">Register</a>
    </div>
</html>
