{% extends "boards_base.html" %}
{% block content %}
  <h1><a href="/r/{{subreddit}}">{{subreddit}}</a></h1>
  <h2>{{title}}</h2>
  <div class="infobar">
    Page 1 of <span>1</span> <span style="display:none">| <a href=
    ".">
    Next Page</a></span> <span style="display:none">| <a href=
    ".">
    Last Page</a></span>
  </div>
  <div id="u0_1">
{% for m in message %}
  <div class="message-container" id="m{{ m.id }}">
    <div class="message-top">
    <b>From:</b> <a href="">{{ m.user }}</a> | 
    <b>Posted:</b> {{ m.created }} | 
    {% if filter %}
      <a href="">Unfilter</a>
    {% else %}
      <a href="">Filter</a>
    {% endif %}
    <!-- | <a href="./message.php?id={$table.message_id}&amp;topic={$topic_id}&amp;r={$table.revision_id}">Message Detail
    </a> --><!--  |
    <a href="./postmsg.php?board=42&amp;topic={{ m.topic.id }}&amp;quote={{ m.id }}" 
      onclick="return quickpost_quote('t,{{ m.user.id }},{{ m.id }}@1');">Quote</a> -->
      <!-- /mcreate/?t={{ message.0.topic.id }}&q={{ m.id }} -->
  </div>
  <table class="message-body">
    <tr>
      <td msgid="t,{$topic_id},{$table.message_id}@{$table.revision_id}" class="message">
        {% if m.parent_content %}
            <div class="parent-content">{{ m.parent_content | safe }}</div>
            <br/></br>
        {% endif %}
        {{ m.content | safe }}
      </td>
      <td class="userpic">
        <div class="userpic-holder">
          <img src="https://boards.codeatom.org/static/images/grey.gif" data-original="ttps://boards.codeatom.org/static/images/grey.gif" width="150" height="156" />
        </div>
      </td>
    </tr>
  </table>
  </div>
{% endfor %}
<div class="infobar" id="u0_3">Page: 
        1 
</div>
  <div class="infobar" id="u0_4">
    Placeholder
  </div>
  <br />
  <br />
  <a id="qptoggle" href="#">
    <span id="open">+</span>
    <span id="close" style="display:none">-</span>
  </a>
  <div id="pageexpander" style="height:280px;display:none;"></div>
  <div id="quickpost" style="display:none;">
  <form method="POST" action="{{ request.get_full_path }}" name="quickposts" id="quickposts">{% csrf_token %}
    <b>Your Message:</b><br />
    <input type="hidden" name="topic" value="{{ message.0.topic.id }}" />
    <textarea id="qpmessage" name="message">
    </textarea>
    <br />
    <input type="submit" value="Post Message" name="submit"/>
  </form>
</div>
<script type="text/javascript" src="https://boards.codeatom.org/static/js/jquery.lazyload.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://boards.codeatom.org/static/js/jquery.base.js" charset="utf-8"></script>
</div>
{% endblock %}
