{% extends "boards_base.html" %}

{% block content %}
    <h1>{{subreddit}}</h1>




    <div class="infobar">
      Page 1 of <span>1</span> <span style="display:none">| <a href=
      ".">
      Next Page</a></span> <span style="display:none">| <a href=
      ".">
      Last Page</a></span>
    </div>

   <table class="grid">
        <tr>
            <th>Topic</th>
            <th>Created By</th>
            <th>Msgs</th>
            <th>Last Post</th>
        </tr>
        {% for topic in topic_list %}
        <tr>
            <td>
                <a href="{{topic.url}}">{{ topic.title }}</a>  [<a href="{{topic.permalink}}">comments</a>]
            </td>
                <td>
                <a href="">{{ topic.user }}</a>
            </td>
            <td>
                {{ topic.message_count }}
            </td>
            <td>
                {{ topic.updated }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="infobar">
      {{ next_page }}
    </div><br />
    <br />

  <div style="display: none;" id="hiddenlpsubmitdiv"></div>

  {% endblock %}

