<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %} Links Is Back {% endblock %}</title>
  <link rel="icon" href="//static.endoftheinter.net/images/dealwithit.ico" type=
  "image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href=
  "//static.endoftheinter.net/images/apple-touch-icon-ipad.png" />
  <link rel="stylesheet" type="text/css" href="http://static.endoftheinter.net/style/nblue.css?22" />
  <script type="text/javascript" src="templates/default/js/base.js?27">
</script>
</head>

{% block menubar %}
<body class="regular">
  <div class="body">
    <div class="menubar">
		<a href="/links">Home</a> | 
		<a href="/links/create">Add a link</a> | 
		<a href="/links/top">Top voted links</a> | 
		<a href="/links/top_week">Links of the week</a> |
		<a href="/links/">New links</a><br />
		<a href="/links/all">All links</a> |
		<a href="/links/stats">Stats</a> | 
		<a href="/links/user_list/">User List</a> | 
		<a href="/links/logout/">Logout</a> | 
    </div>

    <div style=
    "position:fixed;z-index:999;background:red;width:1px;height:1px;bottom:45px!important;bottom:10000px;right:24px">
    <!--a reminder, for all that we fought against. -->
    </div>
{% endblock %}



{% block content %}{% endblock %}

  </div>

</body>
</html>