{% extends "base.html" %}

{% block content %}
    <h1>User List</h1>

    <div class="userbar">
      <a href="/profile.php?user=2182">{{ user.username }} (2)</a>: <span id=
      "userbar_pms" style="display:none"><a href="/inbox.php">Private Messages (<span id=
      "userbar_pms_count">0</span>)</a> |</span><a href=
      "//wiki.endoftheinter.net/index.php/Help:Rules">Help</a>
    </div>


    <div class="infobar">
                Page 1 of <span>0</span> 
                </div>

    <table class="grid">
      <tr>
        <th>Username</th>

        <th>Date Joined</th>

        <th>Last Action</th>

        <th>Karma</th>
      </tr>
  {% for users in user_list.all %}
   <tr>
        <td>
      <a href=
        "//localhost/profile.php?user=2181">{{ users.username }}</a></td>
        <td>{{ users.date_joined }} </td>

        <td>{{ users.last_login }}</td>

        <td>1</td>
      </tr>
    {% endfor %}
    </table>

    <div class="infobar">Page:     </div>
  <br />
    <br />
{% endblock %}